.admin-menu li {float: left;}
.deleteImg {float: left;}
.addBgGal {float: left;}
.td-panel hr {background: #eee;opacity: 0.8;height: 1px;border: none;}
.pixelCount {position: relative;width: 171px;float: left;margin-left: 5px;}
.fontPixels {background: #eee;position: absolute;right: 0;top: 2px;height: 22px;-moz-border-radius: 0px 4px 4px 0px;border-top-right-radius:4px;-khtml-border-top-right-radius:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;-webkit-border-bottom-right-radius:4px;padding-left: 10px;padding-right: 10px; }
.fonts { float: left; width: auto; height: auto; margin-left: 5px; margin-top: 5px; font-family: calibri; }
.fonts p { margin-top: 4px; margin-bottom: 2px; margin-left: 5px; font-family:  calibri; }
.styleSwitchP { float: left; margin-top: 3px; margin-bottom: 2px; margin-left: 5px; font-family:  calibri; width: 100px; }
.clearFixStyle { clear: both; height: 5px; }
.admin-menu li .tab { float: left; }
.liActive { margin-bottom: -6px; }
.admin-menu li .active { border-bottom: medium none;-moz-border-radius:4px 4px 0px 0px;-khtml-border-top-right-radius:4px;-khtml-border-top-left-radius:4px;-khtml-border-bottom-right-radius:0px;-khtml-border-bottom-left-radius:0px;-webkit-border-top-right-radius:4px;-webkit-border-top-left-radius:4px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-radius:4px 4px 0px 0px;float: left;height: 37px;border-color: #eee; padding-bottom: 18px; }
.even { background: #E4E4E4; margin-top: 10px; padding: 5px; }
.notEven { background: #eee; margin-top: 10px; padding: 5px; }