/* CHANGE THE COLORS FOR THE THEME HERE */
body {
	background: white;
}
.body-bricks {
	background: white;
}
#brick-holder {
	background: white;
}
.box { border: 3px solid white; }
/* COLOR THE BRICKS */
.brick1 .colorInside {
	background: #0F9;
}
.brick2 .colorInside {
	background: #FF9;
}
.brick3 .colorInside {
	background: #F03;
}
.brick4 .colorInside {
	background: #F6F;
}
.brick5 .colorInside {
	background: #09F;
}
#footer {
	background: url('../images/menuShineW.png') -30px -0px;
}
.content {
	background: url('../images/contentBgW.png');
	color: black;
}
.shadowTop {
	background: url('../images/shadowTopW.png');
}
.sidebarShadowTop { background: url('../images/sidebarShadowW.png'); }
.sidebar-wrap { background: url('../images/sidebarContentW.png'); }
/* GENERAL STYLING OF FONTS */
.entry-content a, .hentry a, #nav-below a {
	color: black;
}
.copyright a { 
color: black;
}
.entry-title a {
	color: black;
}
.cs-title {
	background: #333;
}
.cs-buttons a {
	background: white;
	border: 1px solid black;
}

a, a:visited { 
color: black; 
}
/* Heading colors */
h1, h2, h3, h4, h5, h6 {
	color: black;
}
/* List stles colors (recommend same as p) */
ul li a, li, ul li, ul {
	color: black;
}

/* Button user in theme */
.sws_btn_black_bg, .search-bar #searchsubmit, input[type="submit"], #commentform #submit {
	color: #333;
	background-color: #d3d3d3;
	background:-moz-linear-gradient(0% 3% 270deg,#e0e0e0, #d3d3d3, #c6c6c6 24%);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#c6c6c6), color-stop(.2,#d3d3d3));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#c6c6c6');
}
.sws_btn_black {
	border-color:#303030;
	color:#fff;
}
.sws_btn_black span {
	border-top:1px solid #B8B8B8;
	color: #656565;
}
.sws_btn_black span:hover {
	color: #fff;
}
.sws_btn_black_bg:hover {
	background:#363636;
	color: #fff;
}
.search-bar #s, .login-form input[type="text"], .login-form input[type="password"] {
background: #555;
color: white;
}
.login-icon { background: url("../images/spriteW.png") no-repeat scroll -149px 8px transparent; }
.searchWrap { background: url('../images/searchCloseW.png') no-repeat right top; }
.loginWrap { background: url('../images/searchCloseW.png') no-repeat right top; }
.login-content { background: url('../images/spriteW.png') no-repeat 0px -66px; }
.search-content { background: url('../images/spriteW.png') no-repeat 0px -66px; }
#galleryNav { background: url('../images/bg-menuW.png'); }
#controls-icon { background: url('../images/spriteW.png') no-repeat -149px -16px; }
#controls-close { background: url('../images/searchCloseW.png'); }
#footer .sub-menu li { background: url('../images/bg-menuW.png'); }
#slidecaption { color: black; }
#slidecaption a { color: black; }
#slidecounter { color:#333; }
#footer ul li a { color : black; }
.login-form { color: black; }
.saleCategory.odd { background: #e3e3e3; color: black; }
.saleCategory.odd h1, .saleCategory.odd h2, .saleCategory.odd h3, .saleCategory.odd h4, .saleCategory.odd h5, .saleCategory.odd h6, .saleCategory.odd p, .saleCategory.odd li, .saleCategory.odd a { color: black; }  
.saleCategory.even { background: grey; }
.saleCategory.odd .salePrice { background: black; color: white; }
.salePrice { background: black; color: white;  }
.saleCategory.even .salePrice { background: black; color: white;  }
.saleCategory.even #SaleNav a {  padding: 1px; display: block; border: 1px solid #e3e3e3; }
.saleCategory.odd #SaleNav a {  padding: 1px; display: block; border: 1px solid gray; }
.saleCategory.odd .readmoreButton, .saleCategory.odd .readmoreButton a { background: grey; color: white; }
.searchTooltip, .loginTooltip, .galleryTooltip { color: white; }